# coding=utf8

SECRET_KEY = b'_5#y2L"F5Q8z\n\xec]/'

AUTH_USERS = [
        {'username': 'admin', 'password': '123'},
]

DB_CONFIG = {
        'host': 'localhost',
        'db_name': 'test',
        'user': 'tester',
        'password': 'test12345'
}
