<!DOCTYPE html>
<html>
<title>Work notes</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="static/css/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<body>

<div class="w3-bar w3-green">
  <a href="/index" class="w3-bar-item w3-button">Add Note</a>
  <a href="/notelist" class="w3-bar-item w3-button">Notes List</a>
  <a href="/notebook" class="w3-bar-item w3-button w3-red">Notebook</a>
  <a href="/logout" class="w3-bar-item w3-button w3-right">Logout</a>
</div>

<div class="w3-cell-row w3-margin" align="center">
  <a class="w3-button w3-blue w3-margin" href="/editnote" target="_blank">+ New Note</a>
</div>

<table class="w3-table">
  <tr w3-blue>
    <th>category</th>
    <th>content</th>
    <th>time</th>
    <th>manage</th>
  </tr>
  {% for n in notes %}
  <tr id="note{{ n.id }}">
    <td>{{ n.category }}</td>
    <td><b>{{ n.title }}</b> <br> <i>{{ n.desc }}</i></td>
    <td>{{ n.time }}</td>
    <td>
      <a href="/editnote?note_id={{ n.id }}" class="w3-button w3-blue" target="_blank">Modify</a>
      <button onclick="deletenote({{ n.id }})" class="w3-button w3-red">Delete</button>
    </td>
  </tr>
  {% endfor %}

  <div id="modifydlg" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-card-4">
        <div class="w3-container w3-green">
          <h2>Modify note</h2>
        </div>
        <span onclick="document.getElementById('modifydlg').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <input id="modifyid" name="id" style="display:none"></input>
        <form id="modifyform" name="note" method="post" action="javascript:;" onsubmit="modifyNote(this)" class="w3-container">
          <p>
          <label>Category</label></p>
          <select id="modifycategory" class="w3-select w3-border" name="category">
            {% for c in categories %}
            <option value="{{ c }}">{{ c }}</option>
            {% endfor %}
          </select>
          <p>
          <label>Content</label></p>
          <input id="modifycontent" name="content" class="w3-input" type="text">
          <p>
          <label>Time cost(day)</label></p>
          <input id="modifycost" name="cost" value="1" class="w3-input" type="number" step="0.01" min="0">
          <p>     
          <button type="submit" class="w3-button w3-block w3-green">Submit</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</table>

<script>
function onModifynote(noteId, category, content, cost) {
    document.getElementById('modifydlg').style.display = 'block';
    document.getElementById('modifyid').value = noteId;
    document.getElementById('modifycontent').value = content;
    document.getElementById('modifycost').value = cost;
    var index = 0;
    {% for c in categories %}
    if ('{{ c }}' == category) {
        index = {{ loop.index }} - 1;
    }
    {% endfor %}
    document.getElementById('modifycategory').selectedIndex = index;
}

function modifyNote(form) {
    noteId = document.getElementById('modifyid').value;
    var data = {
        note_id: noteId,
        category: form.category.value,
        content: form.content.value,
        cost: form.cost.value
    };
    $.post('/modifyworknote', data, function(data) {
        if (JSON.parse(data).code == 0) {
            var cells = document.getElementById(`note${noteId}`).cells;
            cells[0].innerHTML = form.category.value;
            cells[1].innerHTML = form.content.value;
            cells[2].innerHTML = form.cost.value;
            document.getElementById('modifydlg').style.display = 'none';
        } else {
            alert(data);
        }
    });
}

function deletenote(note_id) {
    if (!confirm("delete note?")) {
        return;
    }

    $.get(`/deletenote?note_id=${note_id}`, function(data) {
        if (JSON.parse(data).code == 0) {
            var item = document.getElementById(`note${note_id}`)
            item.style.display = 'none';
        } else {
            alert(data);
        }
    });
}
</script>

</body>
</html>
