<!DOCTYPE html>
<html>
<title>Work notes</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="static/css/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<body>

<div class="w3-bar w3-green">
  <a href="/index" class="w3-bar-item w3-button">Add Note</a>
  <a href="/notelist" class="w3-bar-item w3-button">Notes List</a>
  <a href="/notebook" class="w3-bar-item w3-button w3-red">Notebook</a>
  <a href="/logout" class="w3-bar-item w3-button w3-right">Logout</a>
</div>

<div class="w3-bar w3-margin">
  <a class="w3-bar-item w3-button w3-blue" href="/editnote" target="_blank">+ New Note</a>
  <div class="w3-bar-item w3-bar w3-right">
    <input id="searchbox" value="{{ keyword }}" class="w3-bar-item w3-input w3-border" style="width:200px"></input>
    <button id="searchbtn" onclick="onSearch()" class="w3-bar-item w3-button w3-blue w3-margin-left w3-margin-right">Search</button>
  </div>
</div>

<table class="w3-table w3-bordered">
  <tr w3-blue>
    <th>category</th>
    <th>content</th>
    <th>time</th>
    <th>manage</th>
  </tr>
  {% for n in notes %}
  <tr id="note{{ n.id }}">
    <td>{{ n.category }}</td>
    <td><b>{{ n.title }}</b> <br> <pre>{{ n.desc }}</pre></td>
    <td>{{ n.time }}</td>
    <td>
      <a href="/editnote?note_id={{ n.id }}" class="w3-button w3-blue" target="_blank">Modify</a>
      <button onclick="deletenote({{ n.id }})" class="w3-button w3-red">Delete</button>
    </td>
  </tr>
  {% endfor %}
</table>

<script>
document.getElementById(`searchbox`).addEventListener("keyup", function(event) {
    if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById(`searchbtn`).click();
    }
});

function onSearch() {
    var item = document.getElementById(`searchbox`);    
    var keyword = item.value;
    window.location.href = `/notebook?keyword=${keyword}`;
}

function deletenote(note_id) {
    if (!confirm("delete note?")) {
        return;
    }

    $.get(`/deletenote?note_id=${note_id}`, function(data) {
        if (JSON.parse(data).code == 0) {
            var item = document.getElementById(`note${note_id}`);
            item.style.display = 'none';
        } else {
            alert(data);
        }
    });
}
</script>

</body>
</html>
